body
{
    margin: 0;
    padding: 0;
}

.large-container
{
    display: flex;
}

.top-bar
{
    display: flex;
    flex: 1 1 auto;
    background-color: purple;
    height: 80px;
    align-items: center;
}

.header-text
{
    font-size: 32px;
    font-weight: 900;
    color: white;
    text-indent: 16px;
}